<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hubo un problema con su pedido</h1>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>